.title
    color: white!important
    font-size: 40px!important
    white-space: pre-line
    text-align: left

.subtitle
    color: white!important
    font-size: 30px!important
    white-space: pre-line
    text-align: left

.banner, .map, .reviews, .about, .partners, .statistic
    width: 100%
    align-items: flex-start
    padding: var(--section-padding)

.banner, .map
    min-height: 80vh

.map
    @media all and (max-width: 700px)
        min-height: 0
        height: auto

.reviews
    height: auto

.statistic
    background: white
    display: flex
    flex-flow: row
    justify-content: space-around
    align-items: center
    text-align: center

    @media all and (max-width: 710px)
        flex-flow: column

    &Img
        max-width: 205px
        display: flex
        flex-direction: column

        @media all and (max-width: 710px)
            margin-top: 20px
            margin-bottom: 20px

        & > img
            max-width: 100%
            object-fit: cover

.about
    &Content
        width: 100%
    &Image
        padding: 20px
        margin-bottom: 20px

        @media all and (max-width: 900px)
            padding: 0
    &Text
        text-align: left

.banner
    background: url(../../img/bg.png) 100% 100% no-repeat
    background-size: cover
    justify-content: center

    &Card
        background-color: rgba(40, 44, 52, .1)
        border-radius: 10px
        padding: 15px

    &Text
        color: white!important
        font-size: 20px

    &Content
        width: 100%

    &Button
        width: 50%

.map
    background-color: white
    height: auto

.partners
    background-color: white
    height: auto
