.header
    display: flex
    justify-content: space-between
    align-items: center

.logo
    color: white!important

.title
    color: white!important
    font-size: 50px!important
    white-space: pre-line
    text-align: left


.banner, .map, .reviews
    width: 100%
    height: 80vh
    padding: 80px
    align-items: flex-start

.reviewsCarousel
    display: block
    max-width: 100%

.banner
    background: url(../../img/bg.png) 100% 100% no-repeat
    background-size: cover
    justify-content: center

.map
    height: auto
    &Button
        font-size: 30px
        width: 140px
        height: 60px
