.title
    color: white!important
    font-size: 40px!important
    white-space: pre-line
    text-align: left

.subtitle
    color: white!important
    font-size: 30px!important
    white-space: pre-line
    text-align: left

.banner, .map, .reviews, .about, .partners
    width: 100%
    align-items: flex-start
    padding: var(--section-padding)

.banner, .map
    min-height: 80vh

.reviews
    height: auto

    &Carousel
        justify-content: center
        align-items: center

.about
    &Content
        width: 100%
    &Image
        padding: 20px
        margin-bottom: 20px

        @media all and (max-width: 900px)
            padding: 0
    &Text
        text-align: left

.banner
    background: url(../../img/bg.png) 100% 100% no-repeat
    background-size: cover
    justify-content: center

    &Card
        background-color: rgba(40, 44, 52, .1)
        border-radius: 10px
        padding: 15px

    &Text
        color: white!important
        font-size: 20px

    &Content
        width: 100%

    &Button
        width: 50%

.map
    background-color: white
    height: auto

.partners
    background-color: white
    height: auto

    &Img
        max-height: 150px
        max-width: 150px
        object-fit: cover

        &Link
            display: flex
            justify-content: center
            align-items: center

    &Container
        display: flex
        flex-wrap: wrap
        justify-content: space-between
