.section
  padding: calc(var(--section-padding) / 2) var(--section-padding)

  &:nth-child(even)
    background: white

.title
  margin-top: calc(var(--section-padding) / 2)
  padding: calc(var(--section-padding) / 2) var(--section-padding) 0
