.carousel
    display: block
    max-width: 100%
    text-align: center

.card
    &Container
        max-width: 50vw
        padding: 10px 0

        @media all and (max-width: 900px)
            max-width: 90vw

    &Body
        width: 100%
        display: flex
        flex-direction: column
        align-items: center

    &Avatar
        margin-bottom: 10px
